{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <h1>Comments Pending Approval</h1>
    <ul>
        {% for comment in comments %}
        <li>
            <strong>By: {{ comment.name }}</strong> ({{ comment.email }})
            <p>{{ comment.content }}</p>
            <form method="post" action="{% url 'approve_comment' comment.name %}">
                {% csrf_token %}
                <button type="submit">Approve</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
